#top_course {margin-top:-4%; width:100%; padding: 3% 5% 5% 3%;}
#top_course h2 {font-size: 30px; text-align: center; color: #3f5267; font-weight: normal; margin-top: 2%}
#top_course ul{list-style-type: none; margin-top: 3%;margin-bottom: 3%; overflow-y: auto; height: 200px;}
#top_course ul li {transition: all 0.3s ease-in-out; margin-left: 2%;  margin-bottom: 2%; width: 18%; height: 300px; background:#fff; float: left}
#top_course ul li a {text-decoration: none}
#top_course ul li a img{width: 5px; height: 150px;}
#top_course ul li a h3{color: #74889e; font-size: 14px; margin-top:3%; font-weight: 400px; margin-left: 8px;}
#top_course ul li a h4{margin-top: 4%; margin-bottom: 2%; color: #74889e}
#top_course ul li a p{color: #3f5267; margin-bottom: 15%;}
#top_course ul li:hover { transform: scale(1.1)}
